{% extends 'base.html' %}
{% load static %}

{% block title %}
  request.user
{% endblock title %}
  
{% block stylesheet %}
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}"> -->
  <link rel="stylesheet" href="{% static 'css/cart.css'%}">  
{% endblock stylesheet %}
 

{% block content %}  
  <main class="container">
    <h2>Basket</h2>
    <section class="section">
      <div class="table">
        
        <table class="table">
          <thead class="">
            <tr class="table-items">
              <th scope="col">fgh</th>
              <th scope="col">PLANT</th>
              <th scope="col">PRICE</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">SUBTOTAL</th>

            </tr>
          </thead>
          <tbody>
            {% for cart_item in cart_items %}
            <tr class="table-items">
              
              <td>
                <a href="{%url 'remove-from-cart-page' cart_item.id%}"><i class=" close__icon ri-close-line"></i></a>
              </td>
              <td>{{cart_item.product.title}}</td>
              
              {% if cart_item.product.discount_price %}
              <td> ${{cart_item.product.discount_price}}</td>
              {% else %}
              <td>${{cart_item.product.price}}</td>
              {% endif %}
              <td>{{cart_item.quantity}}</td>
              <td>${{cart_item.line_total}}</td>
              
              
              
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4">
                <b>Total: ${{cart_total}}</b>
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <a href="" class="btn btn-primary float-right">Continue shopping</a>
                <a href="{%url 'checkout'%}" class="btn btn-warning float-right">Proceed to checkout</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
{% endblock content %}
{% block script %}
<script src="{% static 'js/bootstrap.bundle.js'%}">
  
</script>  

{% endblock script %}
    