{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{% endblock stylesheet %}
  
  
<!-- <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->



{% block content %}
<section class="signup">
  <div class="container">
      <div class="signup-content">
          <div class="signup-form">
              <h2 class="form-title">{% trans "Sign Up" %}</h2>
              <form method="POST" class="register-form" id="register-form" action="{% url 'account_signup' %}">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="text" name="name" id="name" placeholder="Full Name"/>
                  </div>
                  <div class="form-group">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      <input type="email" name="email" id="email" placeholder="Email"/>
                  </div>
                  <div class="form-group">
                      <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                      <input type="password" name="pass" id="pass" placeholder="Password"/>
                  </div>
                  <div class="form-group">
                      <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                      <input type="password" name="re_pass" id="re_pass" placeholder="Confirm password"/>
                  </div>
                  <div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                      <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                  </div>
                  <div class="form-group form-button">
                      <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                      <button type="submit" class="button button--flex">{% trans "Sign Up" %} &raquo;</button>
                      
                  </div>
              </form>
          </div>
          <div class="signup-image">
              <figure><img src="{% static 'img/signup-image.jpg'%}" alt="sing up image"></figure>
              <a href="#" class="signup-image-link">I already have an account?</a>
          </div>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{%static 'js/login.js'%}"></script>
{% endblock script %}
  
  