{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{% endblock stylesheet %}
  
  
<!-- <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->



{% block content %}

<section class="signup">
  <div class="container">
      <div class="signup-content">
          <div class="signup-form">
              {% include 'partials/_alerts.html' %}
              <h2 class="form-title">{% trans "Sign Up" %}</h2>
              {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
      
                
      
              <div class="socialaccount_ballot">
      
                <ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
      
                <div class="login-or">{% trans 'or' %}</div>
      
              </div>
      
              {% include "socialaccount/snippets/login_extra.html" %}
      
              {% else %}
              <p>{% blocktrans %}If you have not created an account yeeeeeeeeeeeeet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              {% endif %}
                        
              <form method="POST" class="register-form signup django-login" id="register-form signup_form" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% include 'partials/alerts.html' %}
                {% if form.non_field_errors %}
                <div class="alert alert-warning">
                <ul class="alert-message">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
                  <!-- <div class="form-group">
                      <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input type="text" name="name" id="name" placeholder="Full Name"/>
                  </div> -->
                  <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      <!-- <input type="email" name="email" id="email" placeholder="Email"/> -->
                      {{ form.email }}
                  </div>
                  <!-- <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                    <label for="username"><i class="zmdi zmdi-email"></i></label>
                    <input type="email" name="email" id="email" placeholder="Email"/>
                    {{ form.username }}
                </div> -->
                  <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                      <label for="password1"><i class="zmdi zmdi-lock"></i></label>
                      <!-- <input type="password" name="pass" id="pass" placeholder="Password"/> -->
                      {{ form.password1 }}

                  </div>
                  <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                      <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                      <!-- <input type="password" name="re_pass" id="re_pass" placeholder="Confirm password"/> -->
                      {{ form.password2 }}
                  </div>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="form-group form-button">
                      <!-- <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/> -->
                      <button type="submit" name="signup" id="signup" class="button button--flex">{% trans "Sign Up" %} <i class="ri-user-add-line"></i></button>
                      
                  </div>
              </form>

          </div>
          <div class="signup-image display">
              <figure><img src="{% static 'img/signup-image.jpg'%}" alt="sign up image"></figure>
          </div>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{%static 'js/login.js'%}"></script>
{% endblock script %}
  
  