{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{% endblock stylesheet %}
  


{% block content %}

<section class="signup">
  <div class="container">
      <div class="signup-content">
          <div class="signup-form">
              {% include 'partials/_alerts.html' %}
              <h2 class="form-title"style="text-align: center;">{% trans "Sign Up" %}</h2>
              {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
      
                
      
              <div class="socialaccount_ballot">
      
                <ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
      
                <div class="login-or">{% trans 'or' %}</div>
      
              </div>
      
              {% include "socialaccount/snippets/login_extra.html" %}
      
              {% else %}
              <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              {% endif %}
                        
              <form method="POST" class="register-form signup django-login" id="register-form signup_form" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% include 'partials/_alerts.html' %}
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}

                  <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      
                      {{ form.email }}
                  </div>

                  <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                      <label for="password1"><i class="zmdi zmdi-lock"></i></label>
                     
                      {{ form.password1 }}

                  </div>
                  <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                      <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                      
                      {{ form.password2 }}
                  </div>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="form-group form-button">
                      
                      <button type="submit" name="signup" id="signup" class="button button--flex">{% trans "Sign Up" %} <i class="ri-user-add-line"></i></button>
                      
                  </div>
              </form>

          </div>
          <div class="signup-image display">
              <figure><img src="{% static 'img/signup-image.jpg'%}" alt="sign up image"></figure>
          </div>
      </div>
  </div>
</section>

{% endblock content %}

{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{%static 'js/login.js'%}"></script>
{% endblock script %}
  
  