{% load cart_template_tags %}
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
          <nav class="nav container">
              <a href="#" class="nav__logo">
                  <i class="ri-leaf-line nav__logo-icon"></i>greencrest
              </a>
              <div class="nav__menu" id="nav-menu">
                  <ul class="nav__list">
                      <li class="nav__item">
                          <a href="#home" class="nav__link">Home</a>
                      </li>
                      <li class="nav__item">
                          <a href="#about" class="nav__link">About</a>
                      </li>
                      <li class="nav__item">
                          <a href="#products" class="nav__link">Products</a>
                      </li>

                        
                        {% if user.is_authenticated %}
                    <li class="nav__item">
                        <a href="{% url 'account_logout'%}" class="nav__link"> Logout <span>
                            <i class="ri-logout-box-line button__icon"></i></a>
                        </span>
                    </li>
                        {% else %}
                        <li class="nav__item">
                            <a href="{% url 'account_signup'%}" class="nav__link"> Signup
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'account_login'%}" class="nav__link"> Login </a>
                        </li>
                            
                        {% endif %}

                      
                          
                  </ul>
                  <div class="nav__close" id="nav-close">
                      <i class="ri-close-line"></i>
                  </div>
              </div>
              <div class="nav__btns">
                  <!-- Theme change button -->
                  <i class="ri-moon-line change-theme" id="theme-button"></i>
                  
                  {% if user.is_authenticated %}
                  <div class="cart">
                      <a href="{% url 'cart'%}" class="nav__link cart__btn"><i class="ri-shopping-basket-line "></i></a>
                      <span class="cart__count"> {{request.user|cart_item_count}} </span>
                      
                  </div>
                {% else %}

                  {% endif %}
                      
                  <div class="nav__toggle" id="nav-toggle">
                      <i class="ri-menu-line"></i>
                  </div>
              </div>
          </nav>
      </header>

<!-- <li class="nav-item">
  <a class="nav-link waves-effect" href="{%url 'cart'%}">
    <span class="badge red z-depth-1 mr-1"> {{request.user|cart_item_count}} </span>
    <i class="fas fa-shopping-cart"></i>
    <span class="clearfix d-none d-sm-inline-block"> Cart </span>
  </a>
</li> -->