{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/products.css'%}">
{% endblock stylesheet %}
  
{% block content %}
    <!--==================== PRODUCTS ====================-->
    <section class="product section container" id="products">
      <h1 class="section__title-center">
          Our Products
      </h1>
      <!-- <div>
        <header class="categories " id="header">
          <nav class="nav categories_nav container">
              
              <div class="categories__menu" id="categories-menu">
                  <ul class="nav__list">
                      <li class="nav__item">
                          <a href="#home" class="nav__link">Succulent</a>
                      </li>
                      <li class="nav__item">
                          <a href="#about" class="nav__link">Ferns</a>
                      </li>
                      <li class="nav__item">
                          <a href="#products" class="nav__link">Climbing</a>
                      </li>
                      <li class="nav__item">
                          <a href="#faqs" class="nav__link">Cactus</a>
                      </li>
                      <li class="nav__item">
                          <a href="#contact" class="nav__link">Flowering</a>
                      </li>
                  </ul>
                  <div class="nav__close" id="categories-close">
                      <i class="ri-close-line"></i>
                  </div>
              </div>
              <div class="nav__btns">
                  <div class="nav__toggle" id="categories-toggle">
                      <i class="ri-menu-line"></i><span></span>
                  </div>
              </div>
          </nav>
      </header>
      </div> -->
      <!-- <div class="categories">
        <ul>
          <li class="categories__links">Succulent</li>
          <li class="categories__links">Ferns</li>
          <li class="categories__links">Climbing</li>
          <li class="categories__links">Ferns</li>
          <li class="categories__links">Cactus</li>
        </ul>
      </div> -->
      <form method = "GET"action="{%url 'product_list'%}">

        <div class="wrapper">
          <i class="ri-search-fill search-icon"></i>
          <input class="search" placeholder="Search" type="text" name = "search">
          <i class=" ri-close-fill clear-icon"></i>
        </div>
      </form>
      {% if products %}
      <div class="product__container grid">
        
        
        {% for product in products %}
          <article class="product__card">
              <div class="product__circle"></div>
              <img src="{{product.thumbnail_image.url}}" alt="{{product.title}}" class="product__img">
              <h3 class="product__title">
                  {{product.title}}
              </h3>
              
              {% if product.discount_price %}
              <span class=" line-through">${{product.price}}</span>
              <span class="product__price">${{product.discount_price}}</span>
              {% else %}
              <span class="product__price">${{product.price}}</span>
              {% endif %}
                
              <button class="button--flex product__button">
                <a href="{% url 'add-to-cart' product.id%}">
                  <i class="ri-shopping-bag-line"></i>
                </a>
              </button>
          </article>
          {% endfor %}
          {% else %}
          <div class=" container search__fail__container">

            <p> It seems like we do not have what you're looking for, you can retry with another keyword</p>
            <br>
            <a href="{%url 'product_list'%}" class="button button--flex" id="about">
              All Products<i class="ri-arrow-right-up-line button__icon"></i>
            </a>
          </div>
      </div>
      {% endif %}
  </section>
  <!--=============== SCROLL UP ===============-->
  <a href="#" class="scrollup" id="scroll-up"> 
    <i class="ri-arrow-up-fill scrollup__icon"></i>
</a>
    
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/products.js'%}"></script>
{% endblock scripts %}
  
  