{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{product.title}}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/swiper-bundle.min.css'%}">
<link rel="stylesheet" href="{% static 'css/single-product.css'%}">
{% endblock stylesheet %}
  
  
{% block content %}

{% include 'partials/_alerts.html' %}
  <main class="container" >
    <section class=" description__container">
      <h1>{{product.title}}</h1>
      <h2 class="product__category">{{product.get_category_display}}</h2>
      <p class="product__discription">{{product.description}}</p>
      {% if product.discount_price %}
    <div class = "price__container">
      <p class="line-through">${{product.price}}<p/>
    <span class="product__price">${{product.discount_price}}</span>
    {% else %}
    <span class="product__price">${{product.price}}</span>
  </div>
    {% endif %}

    </section>
    <section class=" image_container">
      <div class="image__container swiper-container">
        <div class="swiper-wrapper producti__img">
          <!-- portfolio 1 -->  
          {% for image in images %}
          <div class="swiper-slide">
            <img src='{{image.image.url}}' class="image">

          </div>
            {% endfor %}

        
      </div>
        <!-- prev and next -->
        <div class="swiper-button-next">
          <i class="ri-arrow-right-line swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
          <i class="ri-arrow-left-line swiper-portfolio-icon"></i>
        </div>

        <!-- pagination -->
        <div class="swiper-pagination">
          
        </div>
      </div>
    </section>
    <section class=" cart__container">
      {% if not in_cart %}
      <form method="POST" action = "{%url 'add-to-cart' product.id%}" class= "quantity-form__container">
        {% csrf_token %}
        <div class="quantity__container">

          <label class = "quantity_label" for="quantity">Quantity</label>
          <input name = "quantity" class="quantity" value = "1" required type="number" autofocus min="1" max="{{product.quantity_available2}}">
        </div>
        <button class="add-to-cart__button" id="cart-btn">
          Add to cart <i class="ri-add-circle-fill button__icon"></i>
        </button>
      </form>
      
      {% else %}
      <div class=" cart-btn-group">

        <a href="{% url 'cart'%}" class="add-to-cart__button" id="cart-btn">
        View in Cart<i class="ri-eye-fill button__icon"></i>
      </a>
      <a href="{% url 'remove-from-cart' product.id%}" class="remove-from-cart__button" id="cart-btn">
        Remove <i class="ri-delete-bin-2-fill button__icon"></i>
      </a>
    </div>
      {% endif %}

    </section>
  </main>
  <!--Main layout-->

  
  {% endblock content %}
  
  {% block script %}
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/single-product.js'%}">

    </script>
  {% endblock script %}
    