

@media screen and (min-width: 992px){

.product__container{
  grid-template-columns: repeat(4, 185px);
}
}
@media screen and (max-width: 767px) {
  .categories__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0%;
    right: -100%;
    box-shadow: -2px 0 4px hsl(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0  1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

@media screen and (min-width: 767px){
  
  .categories__menu{
    margin-left: auto;
    margin-right: auto;
  }
}


.categories__nav {
  justify-content: space-around;
}

/* search bar */

.wrapper {
  position: relative;
  display: flex;
  min-width: 200px;
  justify-content: center;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;
  visibility: hidden;
}

.search{
  border: 2.5px solid var(--first-color-light);
  border-radius: 5px;
  height: 2.5rem;
  width: 50%;
  padding: 10px 23px 10px 30px;
  outline: 0;
  background: none;
  color: var(--text-color);
  transition:  width 0.35s ease-in-out;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}
.search:focus  {
  width: 100%;
  /* background-color: var(--first-color-lighten); */
}
.search:focus .clear-icon{
  visibility: visible;
}
.search:focus .search-icon{
  left: 8px;
}

/* products */

.search__fail__container{
  background-color: var(--first-color-lighten);
  border-radius: 8px;
  padding: 4rem;
  margin-top: var(--mb-1-5);
}
.search__fail__container  p {
  color: var(--text-color);
}
