{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% block stylesheet %}
      
    {% endblock stylesheet %}
    <link rel="stylesheet" href="{% static 'css/base.css'%}"> 

  <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


</head>
<body>
    
  {% if not "accounts" in request.path %}
  {% include 'partials/_navbar.html' %}
  {% endif %}
  
  {% block content %}
  {% endblock content %}

  <!--=============== SCROLL UP ===============-->
  <a href="#" class="scrollup" id="scroll-up"> 
    <i class="ri-arrow-up-fill scrollup__icon"></i>
</a>

{% if "accounts" in request.path%}
<br>
{% elif "initiate-payment" in request.path%}
  <br>
{% else %}
{% include 'partials/_footer.html' %}
{% endif %}


  {% block script %}
  {% endblock script %}
  <!--=============== MAIN JS ===============-->
  <script src="{% static 'js/main.js'%}"></script>
  <script src="{% static 'js/alerts.js'%}"></script>
  <script src="{% static 'js/bootstrap.jquery.min.js'%}"></script>  
</body>
  


    
</html>

