{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main style="padding-top: 7rem;display:flex; justify-content:center; align-items:center; margin:auto; flex-direction:column">

  <div class="mt-5">
    
    <h2 class="mt-5">
      pay: ${{payment.amount}}
    </h2>
  </div>
  <script src="https://js.paystack.co/v1/inline.js"></script> 
  <button class="button button--flex" style="margin-top: 2rem;" type="submit" onclick="payWithPayStack()"> Confirm Payment </button>
</main>
{% endblock content %}

{% block script %}
<!-- <script src="https://js.paystack.co/v2/inline.js"></script>
<script>
  const paystack = new PaystackPop();
paystack.newTransaction({
    key: "{{payment_public_key}}",
    email: "{{payent.email}}",
    amount: "{{payment.amount_value}}",
    ref = ref,
});
</script> -->


<script>
  function payWithPayStack(){
    let currency = "NGN";
    let plan = "";
    let ref = "{{payment.ref}}"
    let obj = {
      key: "{{paystack_public_key}}",
      email: "{{payment.email}}",
      amount: "{{payment.amount_value}}",
      ref : ref,
      callback: function(response){
        window.location.href = "{% url 'verify-payment' payment.ref%}";
      }
    }  
    if (Boolean(currency)){
      obj.currency = currency.toUpperCase()
    }
    if (Boolean(plan)){
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe()
  }
</script>
{% endblock script %}
  